.menu{
	padding: 10px;
	color: #fff;
	background-color: #45015d;
	border-top-right-radius: 15px;
	font-weight: bold;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

.menu a{
	text-decoration: none;
	color: #fff;
	display: block;
	line-height: 30px;
	padding: 8px 16px;
}

.menu a:hover{
	color: #000;
	background-color: #fff;
}

.main{
	width: 50%;
	margin: 80px 40px 0px 360px;
}

h2{
	font-size: 48px;
}

.images img{
	width: 45%;
	border-radius: 10px;
	margin: 5px;
	opacity: 0.5;
}

.images img:hover{
	opacity: 1;
}

h2{
	color: #45015d;
	font-size: 48px;
	font-weight: 100;
	margin: 10px 0px;
}

hr{
	width: 100%;
	border-radius: 4px;
	border: 5px solid #45015d;
	margin: 20px 0px;
}

#packages{
	margin-top: 40px;
}
.tariff{
	display: inline-block;
	width: 48%;
	text-align: center;
	background-color: lightgray;
}
.tariff ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.tariff li{
	border-bottom: 1px gray solid;
	padding: 20px 0px;
}

.tariff .tariff-name{
	background-color: #45015d;
	color: white;
	border-radius: 5px;
	padding: 40px;
	font-size: 25px;
}
.tariff .tariff-name2{
	background-color: red;
	color: white;
	border-radius: 10px;
	padding: 40px;
	font-size: 25px;
}

.button, .button1{
	background-color: red;
	display: inline-block;
    padding: 15px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
.button1{
	background-color: white;
	color: #45015d;
}
.contact{
	margin-top: 50px;
}
.contact label{
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

.contact input{
	width: 100%;
	height: 20px;
}

.mess{
	width: 98%;
	background-color: #45015d;
	color: white;
	border-radius: 10px;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 11px;
	margin-top: 10px;
}



